.rec-bus-wrapper {
    flex-direction: column;
    width: 100%;
}

.cont-rec-bus {
    max-width: 1250px;
    justify-content: space-between;
    row-gap: 2em;
    min-width: 300px;
    display: flex;
    flex-wrap: wrap;
    margin: 0 3em;
}

.rec-bus-wrapper > h2 {
    padding: 2rem 0;
}

.business-card-card {
    border: 1px solid #e2e1e1;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    border-radius: 10px;
    height: 280px;
    width: 400px;
}

.busser-name-card{
    font-weight: 400;
}

.bring-down {
    margin-top: 1rem;
}


.business-card-card:hover {
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
}

.bus-container-12 {
    overflow-y: auto;
}

.business-card-business{
    font-size: 18px;
    color: rgb(67, 63, 63);
    font-weight: 400;
}

.nav-card-bus {
    font-size: 1.2rem;
    color: #027A97;
    font-weight: 500;
}
