.nav-link{
    text-decoration: none;
    font-family: 'Josefin Sans';
}

.logo-name {
    font-family: 'Josefin Sans';
    color: white;
    font-size: 30px;
}

.center {
    justify-content: center;
    display: flex;
    align-items: center;
}

.center1 {
    justify-content: center;
    display: flex;
    align-items: center;
    margin-bottom: 60%;
}

.red-top-bar {
    position: absolute;
    top: 0;
    left: 0;
    box-sizing: border-box;
    width: 100%;
    height: 60px;
    background-color: #D32323;
    color: white;
}

.red-top-bar1 {
    position: absolute;
    top: 0;
    left: 0;
    box-sizing: border-box;
    width: 0;
    height: 0;
    background-color: #D32323;
    color: white;
}

.create-business-container {
    margin-top: 125px;
    font-family: 'Josefin Sans';
}

.left-side {
    width: 50%;
    float: left;
}

label.business-large-text {
    font-size: 25px;
    font-weight: 900;
    display: flex;
    margin-left: 3.2em;
    justify-content: flex-start;
}

label.business-small-text {
    font-size: 20px;
    font-weight: 400;
    display: flex;
    margin-left: 4em;
    margin-top: 0.7em;
    max-width: clamp(330px, 85%, 660px)
}

label.business-small-text1 {
    font-size: 20px;
    font-weight: 400;
    display: flex;
    margin-left: 4em;
    margin-top: 0.7em;
    margin-bottom: 1em;
    max-width: clamp(330px, 85%, 660px)
}

.business-label-short {
    display: flex;
    margin-left: 6em;

    margin-top: 2em;
    width: 74%;
    height: 35px;
    margin-right: 2em;
    padding-left: 1em;
    margin-bottom: 4em;
    max-width: clamp(330px, 75%, 660px);
    font-family: 'Josefin Sans';
}

.business-label-short:hover {
    border: 1px solid red;
}

.business-label-short-address {
    display: flex;
    margin-left: 6em;
    margin-bottom: 2em;
    margin-top: 0.5em;
    width: 74%;
    height: 35px;
    margin-right: 2em;
    padding-left: 1em;
    max-width: clamp(330px, 75%, 660px);
    font-family: 'Josefin Sans';
}

.business-label-short-address1 {
    display: flex;
    margin-left: 6em;
    margin-bottom: 4em;
    margin-top: 0.5em;
    width: 74%;
    height: 35px;
    margin-right: 2em;
    padding-left: 1em;
    max-width: clamp(330px, 75%, 660px);
    font-family: 'Josefin Sans';
}

.business-label-short-address1:hover {
    border: 1px solid red;
}

.business-label-short-address:hover {
    border: 1px solid red;
}

.business-label-short-state {
    display: flex;
    margin-left: 6em;
    margin-bottom: 2em;
    width: 125px;
    height: 35px;
    margin-top: 0.5em;
    margin-right: 2em;
    padding-left: 1em;
    font-family: 'Josefin Sans';
}

.business-label-short-state:hover {
    border: 1px solid red;
}

.business-label-long {
    display: flex;
    margin-left: 6em;

    margin-top: 2em;
    width: 74%;
    height: 200px;
    margin-right: 2em;
    padding-left: 1em;
    margin-bottom: 3em;
    max-width: clamp(330px, 75%, 660px);
    font-family: 'Josefin Sans';
    line-height: 2em;
    padding-top: 1em;
}

.business-label-long:hover {
    border: 1px solid red;
}

.create-business-button {
    background-color: #D32323;
    border: none;
    color: white;
    height: 40px;
    border-radius: 20px;
    width: clamp(330px, 77%, 660px);
    margin-left: 5em;
    cursor: pointer;
    margin-bottom: 4em;
}

label.business-label-address-small {
    margin-left: 5.4em;
    padding-top: 2em;
    font-size: 15px;
}

img.calcifer-create {
    float: right;
    width: 40%;
    margin-right: 5em;
    margin-top: 15%;
    height: 100%;
}

.sep-butt-x {
    display: flex;
    justify-content: space-between;
}

.rev-comp-1 {
    background-color: #71cb98;
}

.del-rev-img-x {
    cursor: pointer;
    color: red;
}

.rev-img-wrap-x {
    flex-direction: column;
}

.bus-prev-img-x {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    border-top: 1px solid gray;
    justify-content: space-between;
    padding: 2rem;
}

.bus-img-inp-xy {
    width: 500px;
    height: 35px;
}

.add-bus-one-img {
    height: 300px;
    width: 435px;
    object-fit: cover;
    border-radius: 10px;
}

.display-single-hour{
    display: flex;
    font-size: 14px;
    column-gap: 1rem;
}

.add-hours-wrapper{
    font-family: 'Josefin Sans';
    display: flex;
    column-gap: 0.4rem;
    margin-left: 5em;
    margin-top: 1.5em;
    margin-bottom: 1em;
}

.display-hours-container{
    display: flex;
    flex-direction: column;
    row-gap: 0.1rem;
    margin-left: 5.5em;
    margin-bottom: 3em;
    font-family: 'Josefin Sans';
}

.display-single-hour {
    font-family: 'Josefin Sans';
    display: flex;
    font-size: 14px;
    column-gap: 1rem;
}

.remove-display-hour{
    cursor: pointer;
    color: #0073BB;
}
