#modal {
    position: fixed;
    z-index: 5;
    right: 0;
    justify-content: center;
    top: 0;
    bottom: 0;
    display: flex;
    left: 0;
    align-items: center;
}

#modal-content {
    border-radius: 10px;
    background-color: white;
    position: absolute;
}

#modal-background {
    position: fixed;
    left: 0;
    background-color: rgba(0, 0, 0, 0.4);
    top: 0;
    right: 0;
    bottom: 0;
}
