#op-hr-cont {
    display: flex;
}

#hrs-op {
    column-gap: 1.3rem;
    display: flex;
}

#ev-day-1 {
    flex-direction: column;
    row-gap: 0.7rem;
    display: flex;
}

.dets-bus-img-cont > img {
    flex-grow: 1;
    object-fit: cover;
}

.dets-bus-wrap-head {
    font-weight: bold;
    display: flex;
    flex-direction: column;
    row-gap: 0.8rem;
    width: 60vw;
    min-width: 700px;
    color: white;
    padding-bottom: 25px;
    margin-top: 1.8em;
    font-family: 'Josefin Sans', sans-serif;
}

.dets-bus-name {
    margin: 0;
    min-width: fit-content;
    font-size: 3rem;
}

.dets-bus-p-cat {
    column-gap: 0.4rem;
    display: flex;
}

.dets-bus-cat-redir {
    color: white;
}

.dets-bus-cat-redir:hover {
    text-decoration: underline;
}

.dets-bus-hours {
    column-gap: 0.5rem;
    display: flex;
}

.open {
    color: #05da61;
}

.close {
    color: #fd7672;
}

.dets-bus-tot-revs {
    display: flex;
    align-items: center;
    font-size: 1.8rem;
}

.tot-revs {
    margin-left: 10px;
    color: white;
    font-size: 1.3rem;
}

.oneStar {
    color: rgb(255, 206, 83)
}

.twoStars {
    color: rgb(253, 169, 66)
}

.threeStars {
  color: rgb(251, 130, 60);
}

.fourStars {
  color: rgb(252, 92, 52);
}

.fiveStars {
  color: rgb(250, 53, 46);
}

.dets-bus-page-wrapper {
    margin-top: 350px;
    flex-direction: column;
    box-sizing: border-box;
    width: 100%;
    overflow: hidden;
}

.dets-bus-img-cont {
    display: flex;
    overflow: hidden;
    height: 450px;
    width: 100vw;
    z-index: -1;
    top: 93.88px;
    min-width: 800px;
    position: absolute;
}

.bus-det-back {
    min-width: 800px;
    position: absolute;
    height: 450px;
    width: 100vw;
    background: linear-gradient(0deg, rgba(39, 38, 42, 1) 0%, rgba(255, 255, 255, 0) 70%);
}

.dets-bus-bd-wrap {
    display: flex;
    color: black;
    width: 50vw;
    min-width: 700px;
}

.dets-bus-cont {
    width: 80%;
}

.dets-bus-blk {
    row-gap: 1rem;
    border-top: 1px solid #ebebeb;
    margin-top: 1em;
    display: flex;
    flex-direction: column;
    margin-bottom: 1em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

.title-business-smaller {
    font-size: 1.5rem;
    margin-bottom: 0em;

}

.title-business-smaller1 {
    margin-bottom: 0.3em;
    font-size: 1.5rem;
}

.dets-bus-blk-map {
    min-width: fit-content;
    display: flex;
    align-items: center;
    margin-bottom: 1.5em;
    margin-top: 0.5em;
    column-gap: 3rem;
    border-top: 1px solid #ebebeb;
}

.hrs-wrap {
    min-width: fit-content;
}

#day-wk {
    margin-right: 2rem;
}


.dets-bus-desc {
    line-height: 1rem;
}

.bus-rev-crd-cont {
    flex-direction: column;
    row-gap: 1rem;
    display: flex;
    padding-bottom: 2rem;
}

#card-rev-rev {
    white-space: pre-line;
    word-wrap: break-word;
}

#card-rev-imgs-x {
    display: flex;
    height: 136px;
    column-gap: 1rem;
}

#card-rev-strs-1 {
    font-size: 20px;
    display: flex;
    align-items: center;
}

#card-rev-dt-1 {
    font-size: 13px;
    margin-left: 1rem;
    margin: 0;
    padding: 0;
}

.card-rev-sing-img {
    width: 174px;
    object-fit: cover;
    border-radius: 4px;
    height: 100%;
}

.rev-name-correct {
    margin-bottom: 0;
    white-space: nowrap;
}

.user-rev-icn-1 {
    font-size: 50px;
}

.new-rev-lnk-1 {
    font-family: 'Josefin Sans', sans-serif;
    padding: 1em 0 1em 2em;
    color: white;
    border-radius: 5px;
    border: none;
    font-size: 16px;
    text-decoration: none;
    background-color: red;
    font-weight: 100;
    width: 160px;
}

.new-rev-lnk-1-butt {
    margin-left: 2em;
    padding: 1em 0;
    font-size: 16px;
    color: white;
    text-decoration: none;
    font-weight: 100;
    cursor: pointer;
    background-color: red;
    border-radius: 5px;
    border: none;
    width: 190px;
    font-family: 'Josefin Sans', sans-serif;
}


.more-dets-box-1 {
    position: sticky;
    top: 13rem;
    margin-left: 2rem;
    width: 100%;
    border: 1px solid #ebebeb;
    padding: 1rem;
    border-radius: 3px;
}

.dets-bus-right-Col {
    margin-left: 2em;
    min-width: 320px;
}

.bus-dets-right {
    justify-content: space-between;
    align-items: center;
    height: 80px;
    display: flex;
    border-bottom: 1px solid #ebebeb;
    column-gap: 1rem;
}

.bus-dets-right > i {
    font-size: 25px;
}

.b-oneStar {
    background: rgb(251, 206, 90)
}

.b-twoStars {
    background: rgb(251, 168, 65)
}

.b-threeStars {
    background: rgb(250, 126, 54);
}

.b-fourStars {
    background: rgb(255, 93, 53);
}

.b-fiveStars {
    background: rgb(250, 42, 35);
}


.no-border {
    border: none;
}

.bus-rev-bar-xx {
    align-items: center;
    column-gap: 3rem;
    display: flex;
    margin-bottom: 2rem;
}

.rev-stars-xxx {
    min-width: fit-content;
}

.bus-over-wrap {
    width: 100%;
    flex-direction: column;
    row-gap: 1rem;
    display: flex;
}

.grey-str-bar {
    width: 100%;
    border-radius: 13px;
    height: 13px;
    background: #F0F0F0;
}

.clr-str-bar {
    height: 13px;
    position: relative;
    border-radius: 13px;
    box-sizing: border-box;
}

.tit-str-bar {
    margin-right: 10px;
    min-width: fit-content;
}

.one-str-1 {
    margin-right: 17.5px;
}

.cont-str-bar {
    align-items: center;
    display: flex;
}

.new-rev-wrap-x {
    display: flex;
    align-items: center;
    margin-top: 0.8em;
    height: 80px;
    justify-content: flex-start;
    margin-bottom: 0.5em;
}

.edit-rev-lnk-1 {
    margin-left: 60%;
    font-size: 30px;
    color: black;
}

.edit-rev-lnk-1:hover {
    color: red;
}
